header {
    display: flex;
}

section {
    background-color: #495057;
    border-radius: 15px;
    padding: 2vh;
    margin-bottom: 2vh;
}

.button-layout {
    display: flex;
    gap: 10px;
}

.center-header {
    text-align: center;
}

table {
    text-align: center;
}

.total {
    font-weight: bold;
    background-color: #2b2e31;
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
    }
}